{{ partial "header.html" . }}
<body lang="en" itemscope itemtype="http://schema.org/Article">
<div id="topbar">
<div class="wrapper">
  <header>
    
  {{ template "partials/sidebar.html" . }}

  {{ $baseurl := .Site.BaseURL }}
  </header>
</div>
</div>

<div class="wrapper">
  <div class="units-row">
    <div class="unit-centered unit-80">  
      <article class="post" id="content">
        {{ .Content }}
      </article>
    </div>
  </div>
</div>

<hr class="separator">

{{ partial "whatisthis.html" . }}

{{ partial "foot.html" . }}
