{{ partial "header.html" . }}
<body lang="en">

  <div id="topbar">
    <div class="wrapper">
      <header>
        {{ partial "sidebar.html" . }}
        {{ $baseurl := .Site.BaseURL }}
      </header>
    </div>
  </div>


  <div class="wrapper">
    <div class="units-row">
      <div class="unit-50">
      <!-- Column of even-numbered posts -->
      {{ range $i, $e := (.Paginator 10).Pages }}
      {{ if eq (mod $i 2) 0 }}
      {{ .Render "summary" }}
      {{ end }} 
      {{ end }}
      </div>
      <div class="unit-50">
      <!-- Column of odd-numbered posts -->
      {{ range $i, $e := (.Paginator 10).Pages }}
      {{ if eq (mod $i 2) 1 }}
      {{ .Render "summary" }}
      {{ end }} 
      {{ end }}
      </div>

    </div>  
  </div> 
  
{{partial "paging.html" . }}

<br />

<hr class="separator">

{{ partial "whatisthis.html" . }}
   
{{ partial "foot.html" . }}
