{{ template "partials/header.html" . }}
<body lang="en" class="theme-base-0f">
{{ template "partials/sidebar.html" . }}

<div class="content container">
    <!-- <ul> -->
    <!--   {{ range .Data.Pages }} -->
    <!--         {{ .Render "li"}} -->
    <!--   {{ end }} -->
    <!-- </ul> -->

    <ul class="post" id="list">
      {{ range first 10 .Data.Pages }}
      {{ .Render "summary"}}
      {{ end }}
    </ul>


<section>
   <p class="talltop">&#9776; <a href="http://kieranhealy.org/blog/archives/">Archive of Posts by Date</a></p>
   <p>&#9776; <a href="http://kieranhealy.org/categories/">Archive of Posts by Category</a></p>
</section>

<aside id="meta"> </aside>


{{ template "partials/footer.html" }}

</div>
