{{ partial "header.html" . }}

<body lang="en" itemscope itemtype="http://schema.org/Article">
<div id="topbar">
<div class="wrapper">
  <header>
  {{ template "partials/sidebar.html" . }}

  {{ $baseurl := .Site.BaseURL }}
  </header>
</div>
</div>

<div class="wrapper">

  <p class="lead"><a href="/categories/">Categories</a> &rtrif; {{ .Title }}</p>

  
   <ul class="post" id="list">
    {{ range (.Paginator 10).Pages }}
         {{ .Render "summary"}}
    {{ end }}
   </ul>

</div>

{{partial "paging.html" . }}

<hr class="separator">

{{ partial "whatisthis.html" . }}
   
{{ partial "foot.html" . }}
  
