{{ partial "header.html" . }}
<body lang="en" class="theme-base-0f">
{{ partial "sidebar.html" . }}

<div class="content container">
  <h1>Archive of Posts, by Category</h1>
   <ul class="post catlist">
   {{ $data := .Data }}
    {{ range $key,$value := .Data.Index.ByCount }} 
    <li class="lead"><strong><a href="categories/{{ $value.Name | urlize }}"> {{ $value.Name }} </a></strong> ({{ $value.Count }}) </li>
    {{ end }}
   </ul>

   <br />
   {{ partial "allcats.html" . }}    

   {{ partial "footer.html" . }}

</div>
