{{ partial "header.html" . }}
<body lang="en" itemscope itemtype="http://schema.org/Article">
<div id="topbar">
<div class="wrapper">
  <header>
  {{ template "partials/sidebar.html" . }}

  {{ $baseurl := .Site.BaseURL }}
  </header>
</div>
</div>

<div class="wrapper">
  <div class="units-row">
    <div class="unit-centered unit-80">  
      
      <h2>Category Index</h2>
      <p class="capitalize">
        {{ $data := .Data }}
        {{ range $key,$value := .Data.Index.ByCount }} 
        &middot; <a href="categories/{{ $value.Name | urlize }}"> {{ $value.Name }} </a> ({{ $value.Count }}) 
        {{ end }}
      </p>
      {{ partial "allcats.html" . }}    
    </div>
  </div>
</div>
  <hr class="separator">

  {{ partial "whatisthis.html" . }}
  {{ partial "foot.html" . }}

</body>
</html>
  

