.highlight-wrapper {
    position: relative;
    font-size: 16px;
    border: 1px solid #EFF2F8;
    padding: 0 0 0 0;
    position: relative;
}

.highlight-before {
    background-color: #EFF2F8;
    color: #0047ab;
    padding: 5px 0px 0px 8px;
}

.highlight-link {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 14px 14px 14px 14px;
    font-size: 16px;
    background-color: #0000;
    color: #FFFF00;
}
