/* =Typography
-----------------------------------------------------------------------------*/
body {
	font-family: 'ff-tisa-web-pro', Georgia, 'Times New Roman', Times, Serif;
	font-size: 1.05em;
	line-height: 1.6em;
	background-color: #faf8f8;
}

form, input[type="search"], select[multiple="multiple"]  {font-family:  'ff-tisa-web-pro', 'Trebuchet MS', Helvetica, Arial, sans-serif;}
 
h1, h2, h3, h4, h5 {
	font-family: 'ff-tisa-web-pro', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: italic;
	color: #36454f;
}
h2, h3, h4, h5 {
	font-weight: normal;
	font-style: italic;
}
h2, h3 {
	text-transform: lowercase;
	font-family: 'ff-meta-serif-sc-web-pro', 'Trebuchet MS', 'Helvetica Neue', Tahoma;
	font-style: normal;
}

.label-red {
  background-color: #36454f;
}

a {color: #36454f;
   text-decoration:none;
   border-bottom: dotted 1px #A1A3A1;}

a:hover {text-decoration:underline;}

a.badge.badge-red { color: #fff;}

/* =Code
-----------------------------------------------------------------------------*/
pre,
code,
kbd,
samp,
var,
output {
  font-size: 90%;
  font-style: normal;
  font-family: PragmataPro, Menlo, Monaco, "Andale Mono", "Lucida Console", "Courier New", monospace;
}

/* =Common
-----------------------------------------------------------------------------*/
img,
#feedback,
#banner,
#intro li {
	border-radius: 3px;
}

nav {text-transform: lowercase;
     font-family: 'ff-meta-serif-sc-web-pro';}

.hd {font-family: 'ff-tisa-web-pro'; }

.caps {text-transform: lowercase;
font-family: 'ff-meta-serif-sc-web-pro'; }


.compact { margin: 0 0 0 1.3em; }

hr {border-top: 1px solid #b3cde0; margin-top:5ex; margin-bottom: 5ex;}

.separator {border-top: 5px solid #b3cde0;}

h2 {border-bottom: 1px solid #b3cde0;} 

h2 a {border-bottom: none;}

/* =Layout
-----------------------------------------------------------------------------*/
.wrapper {
	padding: 0 10px;
	width: 94%;
	max-width: 1300px;
	margin: auto;
}
#outer {
	padding: 3em 0 1em 0;
	margin: 1em 0 3em 0;
	background: url(hero-image1.jpg) #282828;
	background-size: cover;
	background-position: 50% 50%;
	box-shadow: 0 0 3px #333 inset;
/*	border: 1px solid #000; */
	color: #f2f2f2;
	height: 200px;
}
#outer h2,
#outer h3 {
	color: #ccc;
}

#topbar {
	background: #536878;
	padding:0px;
	margin:0ex;
	/* border-bottom: 3px solid #36454f; */
}  
#midbar {
	background: #eaa;
	padding:0px;
	margin:0ex;
	/* border-bottom: 3px solid #36454f; */
}  


#topbar .navbar {padding-bottom:14px; font-size:120%;} 
#topbar li a {color: #fff; border-bottom: none;}
#topbar li a {color: #b3cde0;}
#topbar li span a {color: #fff;}

.avatar {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}


.image-left {
  float: left;
  margin: 0 1em 1em 0;
}

/* =Header
-----------------------------------------------------------------------------*/
header {
	padding-top: 15px;
	margin-bottom: 0em;
}

/* #header h1 {
	float: left;
	font-size: 48px;
	margin-top: 1px;
	margin-bottom: 0;
	color: #ffffff; 
} */
/* #header nav {
	margin-top: 1.2em;
	margin-bottom: 0;
	float: right;
} */



header h1 {	font-size: 24px;
	margin-top: 1px;
	margin-bottom: 0;
/*	color: #ffffff;*/ }


#topbar form {float:right; display:inline-block; } 


/* =Promo
-----------------------------------------------------------------------------*/
#promo {
	margin-bottom: 1.5em;
}

/* =Intro
-----------------------------------------------------------------------------*/
#intro .subheader {
	color: rgba(0, 0, 0, .4);
	padding-bottom: .3em;
	border-bottom: 1px solid #ccc;
}
#intro li {
/*	background-color: #e9e6da;*/
}


/* =Feedback
-----------------------------------------------------------------------------*/
#feedback {
	background-color: rgba(0,0,0,.5);
	padding: 2em 3em;
}

/* =Banner
-----------------------------------------------------------------------------*/
#banner {
	line-height: 0;
	padding: 1.5em;
	background-color: #e9e6da;
}

/* =Blocks
-----------------------------------------------------------------------------*/
#blocks dl {
	overflow: hidden;
	margin: 0;
	padding-bottom: 1.5em;
}
#blocks dt {
	float: left;
	width: 22%;
	margin-right: 4%;
}
#blocks dt img {
	padding: 4px;
	background-color: #fff;
	border: 1px solid #000;
	box-shadow: 4px 4px 0 #000;
}
#blocks dd {
	margin: 0;
	float: left;
	width: 74%;
	padding-bottom: 1.5em;
}


/* =Partners
-----------------------------------------------------------------------------*/
#partners {
	padding-top: 1.5em;
}
#partners h4 {
	color: #666;
}
/* =Footer
-----------------------------------------------------------------------------*/

.dateblock {text-align:right; }


/* =Footer
-----------------------------------------------------------------------------*/
#footer {
	color: #b3cde0;
	margin-top: 3ex;
	padding-bottom: 20px;
	font-size: .9em;
	padding-top: 1em;
	background-color: #536878;
	overflow: hidden;
/*	box-shadow: 0 2px 4px #bbb inset;*/
/*	background: #f0f0f0;*/
	border-top: 3px solid #36454f;
}
#footer a { color: #fff; }
#footer section {
	float: none; 
	text-align:center;
}
#footer nav {
	float: right;
}
#footer nav ul {
	list-style: none;
	margin: 0;
}
#footer nav ul li {
	float: left;
	margin-left: 2em;
}




/* =Tablet (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .wrapper { width: 748px; }
}



/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
/*	.wrapper { width: 300px; }*/
/*	#header h1 { float: none; text-align:center; font-size: 36px;}*/
/*	#header nav { float:none; text-align:center;}*/
	/* #header nav ul li { margin: 0; margin-right: 1em; } */
	#topbar .navbar {padding-bottom:12px; font-size:120%; }
	#topbar .navbar li {float:left; margin-left:1.1em;} 
    #banner { text-align: center; margin-bottom: 1.5em; }
	#footer section, #footer nav { float: none; text-align:center;}
	#footer nav ul { margin-top: 1em; text-align:center;}
	#footer nav ul li { margin: 0; margin-right: 1em;}
	.dateblock {text-align:center;}
	h1, h2, h3, h4, h5, form, input {text-align:center;}
}


/* =Mobile (Landscape)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.wrapper { width: 420px; }
}


.grlog blockquote { font-style:normal; border: 0px ; font-size:1em;}

.grlog blockquote blockquote {   border-left: 2px solid #dddddd; }

.grlog .datestamp {	text-transform: lowercase;
	font-family: 'ff-meta-serif-sc-web-pro'; }
	
.grlog img { margin-left: 12px; margin-bottom: 12px; margin-top:12px;}

.grlog p {padding-top:0.5em;}

.oldcons img { margin-left: 0px; margin-bottom: 24px; margin-top:12px;}

.oldcons p {padding-top:0.5em;}

.oldcons h3 {padding-top:0.2em;}

.logician {float: left; margin-right:16px;}

p.capitalize {
    text-transform: capitalize;
}