/* =Typography
-----------------------------------------------------------------------------*/
body {
	font-family: 'Alegreya', 'Hoefler Text', Times, Serif;
	font-size: 1.05em;
	line-height: 1.6em;
	background-color: #faf8f8;
}
h1, h2, h3, h4, h5 {
	font-family: 'Alegreya', 'Trebuchet MS', Helvetica, Arial, sans-serif;
	font-style: italic;
	color: #b24;
}
h2, h3, h4, h5 {
	font-weight: normal;
	font-style: italic;
}
h2, h3 {
	text-transform: lowercase;
	font-family: 'Alegreya SC';
	font-style: normal;
}
