{{- define "title" }}{{ T "archive" }} - {{ .Site.Title }}{{ end -}}

{{- define "content" }}

{{- $paginator := .Paginate .RegularPagesRecursive.ByDate.Reverse .Site.Params.blogPaginate }}

{{- if not $paginator.HasPrev }}
<section id="pubs" class="archive">
<h1>Some Favorite Things</h1>  

  {{ range (where .Site.RegularPages "Section" "blog") }}  
  {{ if .Params.fave }}

      <span class="post-title">
        <a href="{{ .RelPermalink }}" class="archive-post-link">
          {{ .Title }}
        </a>
      </span> &middot;
 
  {{ end }}

  {{ end }}
 <br >  <br >   
<hr />
</section>
{{- end }}

<section id="archive" class="archive">

<h1>All Posts</h1>
  
  {{- if and (not $paginator.HasPrev) .Site.Params.showArchiveCount }}
    <div class="archive-title">
      <span class="archive-post-counter">
        {{ T "archiveCounter" (len .Data.Pages) }}
      </span>
    </div>
  {{- end -}}

  {{- range $index, $element := $paginator.Pages -}}
    {{- $thisYear := $element.Date.Format "2006" }}
    {{- $lastElement := $index | add -1 | index $paginator.Pages }}
    {{- if or (eq $index 0) ( ne ($lastElement.Date.Format "2006") $thisYear ) }}
      <div class="collection-title">
        <h2 class="archive-year">{{ $thisYear }}</h2>
      </div>
    {{- end }}

      <span class="archive-post-time">
        <em>{{ $element.Date.Format "January 2" }}</em> &nbsp;
      </span>
      <span class="post-title">
        <a href="{{ $element.RelPermalink }}" class="archive-post-link">
          {{ .Title }}
        </a>
      </span> &middot;

  {{- end -}}
</section>
<!-- pagination -->
<nav class="pagination">
  {{ with $paginator.Prev -}}
    <a class="prev" href="{{ .URL }}">
      <i class="iconfont icon-left"></i>
      <span class="prev-text">{{ T "prevPage" }}</span>
    </a>
  {{- end }}
  {{ with $paginator.Next -}}
    <a class="next" href="{{ .URL }}">
      <span class="next-text">{{ T "nextPage" }}</span>
      <i class="iconfont icon-right"></i>
    </a>
  {{- end }}
</nav>
{{- end }}
