{{ template "partials/header.html" . }}
<body lang="en" itemscope itemtype="http://schema.org/Article">

  <div id="topbar">
    <div class="wrapper">
      <header>
        {{ template "partials/sidebar.html" . }}

        {{ $baseurl := .Site.BaseURL }}
      </header>
    </div>
  </div>

  <div class="wrapper">
    <div class="units-row">
      <div class="unit-centered unit-80">  
        <article class="post" id="content">
        <h3>{{ .Title }}</h3>  
        {{ .Content }}
        </article>
      </div>
    </div>
  </div>
  <hr class="separator">
  
  {{ partial "whatisthis.html" . }}
  
  {{ partial "footer.html" . }}



