{{ template "chrome/header.html" . }}
<body lang="en" class="theme-base-0f" itemscope itemtype="http://schema.org/Article">

  {{ template "chrome/sidebar.html" . }}

  {{ $baseurl := .Site.BaseUrl }}

<div class="content container">
<section id="main">
  <div class="post">
      <h6>{{ .Date.Format "Mon Jan 2, 2006" }}</h6>

      <h1 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>

        <article class="entry-content" id="content">
           {{ .Content }}
        </article>
  </div>
</section>

{{ template "chrome/social.html" . }}

{{ template "chrome/meta_aside.html" . }}

{{ template "chrome/footer.html" . }}

</div>

