{{ template "partials/header.html" . }}
<body lang="en" class="theme-base-0f" itemscope itemtype="http://schema.org/Article">

  {{ template "partials/sidebar.html" . }}

  {{ $baseurl := .Site.BaseURL }}

<div class="content container">
  <div class="post">
      <h6 class="shortend">{{ .Date.Format "Mon Jan 2, 2006" }}</h6>

      <h1 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>

        <article class="entry-content" id="content">
           {{ .Content }}
        </article>
  </div>

{{ template "partials/meta_aside.html" . }}

{{ template "partials/allcats.html"}}    
  
{{ template "partials/footer.html" . }}

</div>

