{{ template "partials/header.html" . }}
<body lang="en" itemscope itemtype="http://schema.org/Article">

  {{ template "partials/sidebar.html" . }}

  {{ $baseurl := .Site.BaseURL }}

<div class="content container">
<section id="main">
  <div class="post">
      <h1 class="post-title">{{ .Title }}</h1>


      <p class="left">
        <img src="http://kieranhealy.org/images/404-door.jpg">
        <br /> 
        This really once was my office door.
</p> 
  </div>
</section>

{{ template "partials/footer.html" . }}

</div>

