{{ $baseurl := .Site.BaseUrl }}

    <div>
        <ul class="catlist">
          <li><em>&nbsp;Posted {{ .Date.Format "Mon Jan 2, 2006" }}</em></li>
          {{ range .Params.categories }}
            <li><a href="{{ $baseurl }}/categories/{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
    </div>

    <div>
        <section id="next">
            &nbsp;{{if .Next}}<em><a href="{{.Next.Permalink}}">&laquo; Previous:</a></em> <a class="next" href="{{.Next.Permalink}}">{{.Next.Title}}</a>{{end}}
        </section>
        <section id="prev">
            &nbsp;{{if .Prev}}<em><a href="{{.Prev.Permalink}}">&raquo; Next:</a></em> <a class="previous" href="{{.Prev.Permalink}}">{{.Prev.Title}}</a><br>{{end}}
        </section>

    </div>

