<div class="sidebar">

  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>Kieran Healy</h1>
    </div>

<ul class="catlist">

          <li>
            <a href="/">
              <span> About </span>
            </a>
            </li>

            <li>
            <a href="/publications/">
                <span> Publications </span>
            </a>
            </li>
            <li>
            <a href="/teaching/">
                <span> Teaching </span>
            </a>
            </li>
            <li>
            <a href="/resources/">
                <span> Resources </span>
            </a>
            </li>

            <li>
                <a href="/blog/">
                <span> Blog </span>
            </a>
            </li>

</ul>

  </div>

</div>

