
<!-- Javascript enhancements are included on a per-post basis using
flags set in the markdown file -->

<!--htmlwidgets and sankey framework. flag: footnotes-->
{{ if and (isset .Params "footnotes") (eq .Params.footnotes true) }}
 <script src="//code.jquery.com/jquery-1.8.3.min.js"></script>
 <script type="text/javascript" src="javascripts/bigfoot.js"></script>
 <script type="text/javascript">$.bigfoot();</script>
{{ end }}

<!--htmlwidgets and sankey framework. flag:htmlwidgets -->
{{ if and (isset .Params "htmlwidgets") (eq .Params.htmlwidgets true) }}
 <script src="javascripts/htmlwidgets-0.5/htmlwidgets.js"></script>
 <script src="javascripts/d3-3.5.2/d3.min.js"></script>
 <script src="javascripts/sankey-1/sankey.js"></script>
 <script src="javascripts/sankeyNetwork-binding-0.2.8/sankeyNetwork.js"></script>
{{ end }}

<!--mathjax. flag:mathjax-->
{{ if and (isset .Params "mathjax") (eq .Params.mathjax true) }}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
  });
</script>
<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{{ end }}
