{{ $baseurl := .Site.BaseURL }}

<ul class="pagination">
  {{if .PrevInSection}}
  <li><a href="{{.PrevInSection.Permalink}}">&laquo; <em>Previous</em> {{.PrevInSection.Title}}</a></li> {{end}} 
  {{if .NextInSection}}
  <li><a href="{{.NextInSection.Permalink}}">&raquo; <em>Next</em> {{.NextInSection.Title}}</a></li>{{end}}
</ul> 

<meta itemprop="wordCount" content="{{ .WordCount }}">
<meta itemprop="datePublished" content="{{ .Date.Format "2006-01-02" }}">
<meta itemprop="url" content="{{ .Permalink }}">

