<div class="wrapper" style="font-size: 0.9em; line-height: 1.05em;">
  <div class="units-row units-padding">		
    <div class="unit-40"><!--about-->
      <h3>about</h3>
      <figure class="image-left">
        <img class="avatar" src="files/misc/kjhaz.jpg" height="120" width="120">
      </figure>	
      <p>I am Associate Professor of <a href="http://sociology.duke.edu/">Sociology</a> at <a href="http://www.duke.edu">Duke University</a>. I&#8217;m affiliated with the <a href="http://kenan.ethics.duke.edu/">Kenan Institute for Ethics</a>, the <a href="http://markets.duke.edu">Markets and Management Studies</a> program, and the <a href="https://dnac.ssri.duke.edu">Duke Network Analysis Center</a>.</p>
    </div><!--end about-->
    <div class="unit-30"><!--contact--> 
      <h3>Where</h3>
      <ul class="compact fa-ul">
        <li><i class="fa-li fa fa-university fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i>Department of Sociology, Box 90088, Duke University, Durham, North Carolina 27708.</li>
        <li><i class="fa-li fa fa-envelope fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i><a href="mailto:kjhealy@soc.duke.edu">kjhealy@soc.duke.edu</a></li>
        <li><i class="fa-li fa fa-twitter-square fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i><a href="http://twitter.com/kjhealy">@kjhealy</a> on Twitter.</li>
        <li><i class="fa-li fa fa-github fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i><a href="http://github.com/kjhealy">On GitHub</a>.</li>
        <li><i class=""></li>
      </ul>
    </div><!--end contact-->
<div class="unit-30"><!--Subscribe-->
				<h3>subscribe</h3>
				<p>To receive updates from this site, you can
				subscribe to the <a href="/index.xml"><i class="fa fa-rss-square" style="color:#03396c;"></i>&nbsp;RSS feed</a> of all updates to the site in an RSS feed reader</p>
				<h3>search</h3>
				<a id="searchsite">
					<form method="get" action="https://duckduckgo.com/">
				<input type="search" name="q" maxlength="255" placeholder="Search the site">
			<input type="hidden" name="sites" value="kieranhealy.org"/>
			   <input type="hidden" name="k7" value="#faf8f8"/>
			   <input type="hidden" name="kj" value="#b33"/>
			   <input type="hidden" name="ky" value="#fafafa"/>
			   <input type="hidden" name="kx" value="b"/>
			   <input type="hidden" name="ko" value="-1"/>
			   <input type="hidden" name="k1" value="-1"/>
			   <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" /></form></a>
			</div>
		</div>
	</div>
</div>
