{{- define "content" -}}

<p>I am <a href = "http://sociology.duke.edu">Professor of Sociology</a> at Duke University. <a href = "about/">&rarr; More about me.</a>

<!--Mastodon verify-->
<a rel="me" href="https://mastodon.social/@kjhealy">&nbsp;</a>
</p>

<section id="pubs" class="pubs">
<h1>Some of my Work</h1>  
<ul>
  {{ range (where .Site.RegularPages "Section" "in" (slice "publications")) }}  

  {{ if .Params.fave }}

  {{ if .Params.citation }}
  <li>
    {{ .Params.citation | safeHTML }} &middot;    
    {{ if isset .Params "file" }}<a href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}">PDF</a>{{ end }}
    {{ if isset .Params "overview" }} <a href="{{ .Permalink }}">Overview</a> {{ end }}
<!--    {{ if isset .Params "buy" }} {{ .Params.buy | safeHTML }} {{ end }} -->
  </li>

  {{ else }}

    <li>
      <a href="{{ .Permalink }}"> {{ .Params.title | safeHTML }} </a>
    </li>

  {{ end }}
 
  {{ end }}

  {{ end }}
  
</ul>  
</section>
<section>
<hr>  
</section>
<section id="posts" class="posts">
<br />  
<h1>Recent Writing</h1>  
  {{ range first 5 ((where .Site.RegularPages.ByDate "Section" "blog").Reverse) }}
  <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3> <em>{{ .Date.Format "2 January 2006" }}</em>
  {{ if .Truncated }}
  {{ .Summary }}
  <p class="text-right"><a href="{{ .RelPermalink }}">Read More…</a></p>
  {{ else }}
  {{ .Content }}
  {{ end }}	
</section>
{{ end }}	

{{- end -}}
