{{- define "content" -}}

<p>I am Professor of <a href = "https://sociology.duke.edu">Sociology</a> at <a href = "https://www.duke.edu">Duke University</a>. &rarr; <a href = "about/"><em>More about me.</em></a>

<!--Mastodon verify-->
<a rel="me" href="https://mastodon.social/@kjhealy">&nbsp;</a>
</p>
<section id="pubs" class="archive">

<h1>Some of my Work</h1>
<ul class="fp-tightlist">
  {{ range (where .Site.RegularPages "Section" "in" (slice "publications")) }}  

  {{ if .Params.fave }}

  {{ if .Params.citation }}
  <li>
    {{ .Params.citation | safeHTML }}     
    {{ if isset .Params "file" }} »  <a class="scp" href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}">pdf</a>{{ end }}
    {{ if isset .Params "overview" }} » <a class="scp" href="{{ .Permalink }}">overview</a> {{ end }}
<!--    {{ if isset .Params "buy" }} {{ .Params.buy | safeHTML }} {{ end }} -->
  </li>

  {{ else }}

    <li>
      <a href="{{ .Permalink }}"> {{ .Params.title | safeHTML }} </a>
    </li>

  {{ end }}
 
  {{ end }}

  {{ end }}
  
</ul>  
</section>
<section>
</section>
<section id="posts" class="archive">
<h1>Some Recent Writing</h1>
  {{ range first 10 ((where .Site.RegularPages.ByDate "Section" "blog").Reverse) }}

  <span class="archive-post-time">
        <em>{{ .Date.Format "January 2" }}</em> &nbsp;
    </span>
    <span class="post-title">
        <a href="{{ .RelPermalink }}" class="archive-post-link">
            {{ .Title }}
        </a>
    </span> &middot;

{{ end }}
</section>

<section id="pubs" class="archive">
    <h1>Some Favorite Things</h1>

    {{ range (where .Site.RegularPages "Section" "blog") }}
    {{ if .Params.fave }}

    <span class="post-title">
        <a href="{{ .RelPermalink }}" class="archive-post-link">
            {{ .Title }}
        </a>
        </span> &middot;

        {{ end }}

        {{ end }}
        <br> <br>
        <hr />
</section>


{{- end -}}
