Options -Indexes

<ifModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript
</ifModule>

RewriteEngine on

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301] 

Redirect 301 /gender https://www.kieranhealy.org/blog/archives/category/gender
Redirect 301 /blog/bingo-in-utopia https://kieranhealy.org/blog/archives/2012/08/13/bingo-in-utopia

ErrorDocument 404 https://www.kieranhealy.org/404/
ErrorDocument 403 https://www.kieranhealy.org/403/

# Redirect kieranhealy.org/+ to google+
# Redirect 301 /+ https://plus.google.com/113787556843462277865

AddIcon https://www.kieranhealy.org/img/icon-up.png ..
AddIcon https://www.kieranhealy.org/img/icon-folder.png ^^DIRECTORY^^
#AddIcon https://www.kieranhealy.org/img/blank.gif ^^BLANKICON^^
#AddIcon https://www.kieranhealy.org/img/icon-text.png *txt *html *text *htm *HTM *TXT *TEXT sources.list .dsc .pl .c .h 
AddIcon /images/icon-tarball.png *zip *ZIP *gz *GZ *bz2 *BZ2
AddIcon https://www.kieranhealy.org/img/text.png *.pdf *.ps
AddIcon https://www.kieranhealy.org/img/icon-tarball.png *.tar *.gz
#AddIcon https://www.kieranhealy.org/img/icon-deb.png *deb
#AddIcon https://www.kieranhealy.org/img/icon-mp3.png *mp3 *MP3
#AddIconByType https://www.kieranhealy.org/img/icon-mp3.png audio/*
#AddIcon https://www.kieranhealy.org/img/icon-video.png *mpeg *mpg *MPG *MPEG
AddIconByType https://www.kieranhealy.org/img/icon-image.png image/*
DefaultIcon https://www.kieranhealy.org/img/icon-text.png
 
AddDescription "ZIP file" *.zip
AddDescription "GZIP archive" *.gz *.tgz
AddDescription "Gimp brush file" *.gbr
AddDescription "Adobe PDF document" *.pdf
AddDescription "Postscript file" *.ps
AddDescription "Device Independent file" *.dvi
AddDescription "LaTeX source file" *.tex
AddDescription "LaTeX style file" *.sty
AddDescription "LaTeX package" *.idx
AddDescription "BibTeX style file" *.bst
AddDescription "BibTeX Bibliography" *.bib
AddDescription "My dot-emacs file" *.emacs
AddDescription "Image" *.jpg *.JPG *.JPEG *.gif *.GIF *.png *.PNG

HeaderName HEADER.html
ReadmeName README.html

#FancyIndexing on
#IndexIgnore *

<Files .htaccess>
order allow,deny
deny from all
</Files>

<Limit GET>
order allow,deny
deny from 110.89.60.232
allow from all
</Limit>

SetEnvIf User-Agent EmailCollector BAD_BOT
SetEnvIf User-Agent CherryPicker   BAD_BOT
SetEnvIf User-Agent BecomeBot BAD_BOT
SetEnvIf User-Agent almaden BAD_BOT
SetEnvIf User-Agent RSSScheduler BAD_BOT
SetEnvIf User-Agent grub-client BAD_BOT
SetEnvIf User-Agent "Fast Crawler" BAD_BOT
SetEnvIf User-Agent "Fetch API Request" BAD_BOT
SetEnvIf User-Agent ia_archiver BAD_BOT
SetEnvIf User-Agent Schmozilla BAD_BOT
SetEnvIf User-Agent WISEnutbot BAD_BOT
SetEnvIf User-Agent "Schmozilla/v9.14 Platinum" BAD_BOT
SetEnvIf User-Agent "Schmozilla/v9.14 Platinum" BAD_BOT
SetEnvIf User-Agent "ysearch/slurp" BAD_BOT
SetEnvIf User-Agent "BDFetch" BAD_BOT
#SetEnvIf User-Agent "Maxthon" BAD_BOT
SetEnvIf User-Agent "www.abot.com" BAD_BOT
SetEnvIf User-Agent "www.aipbot.com" BAD_BOT
SetEnvIf User-Agent Missigua BAD_BOT
SetEnvIf User-Agent "herbert.groot.jebbink.nl" BAD_BOT
SetEnvIf User-Agent "poker-" BAD_BOT
SetEnvIf User-Agent "-poker" BAD_BOT
SetEnvIf User-Agent "Kitenga" BAD_BOT
SetEnvIf User-Agent "telnet0.1" BAD_BOT
SetEnvIf User-Agent "heritrix" BAD_BOT
SetEnvIf User-Agent "Teoma" BAD_BOT
SetEnvIf User-Agent "fast-search-engine" BAD_BOT
SetEnvIf User-Agent "JetBrains" BAD_BOT
SetEnvIf User-Agent "NewzCrawler" BAD_BOT
SetEnvIf User-Agent "Wells Search II" BAD_BOT
SetEnvIf User-Agent "yahoo.com/help/us/ysearch/slurp" BAD_BOT
SetEnvIf User-Agent "MSRBOT/0.1" BAD_BOT
SetEnvIf User-Agent "EverbeeCrawler" BAD_BOT
# SetEnvIf User-Agent "BitTorrent/4.0.0" BAD_BOT



# Code Red and Nimda
SetEnvIf Request_URI ^/default\.ida BAD_BOT=worm
SetEnvIf Request_URI root\.exe      BAD_BOT=worm

# Trackback spammers
SetEnvIf Request_URI mt-tb.cgi BAD_BOT
SetEnvIf Request_URI mt-comments.cgi BAD_BOT

# Referrer spam
SetEnvIfNoCase Referer ^http://(www\.)?xopy\.com  BAD_BOT=spammer
SetEnvIfNoCase Referer ^http://(www\.)?aizzo\.com BAD_BOT=spammer
SetEnvIfNoCase Referer ^http://(www\.)?varied-poker\.com BAD_BOT
SetEnvIfNoCase Referer ^http://(www\.)?antiquejunkyard\.com BAD_BOT
SetEnvIfNoCase Referer ^http://(www\.)?bitlocker\.net BAD_BOT
SetEnvIfNoCase Referer ^http://(www\.)?freedownloadbooks\.net BAD_BOT

# Bad bot, bugger off
Order Deny,Allow
Deny from env=BAD_BOT

RewriteCond %{HTTP_REFERER} ^http://(www\.)?.*(-|.)nutzu(-|.).*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?.*(-|.)adult(-|.).*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?.*(-|.)anal(-|.).*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?.*(-|.)mature(-|.).*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?.*(-|.)nude(-|.).*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?.*(-|.)porn(-|.).*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?.*(-|.)pus*y(-|.).*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?.*(-|.)sex(-|.).*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?.*(-|.)teen(-|.).*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?.*(-|.)holdem(-|.).*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?.*(-|.)tits(-|.).*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?.*accepted.cc$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?.*episodesusdbz/.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?advancedmoneyloans.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?affiliplanet.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?apart-?design.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?auktion.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?autogewinne24.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?autospiele24.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?babay.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?euromillionen.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?eurowins.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?gsm-support.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?gzltax.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?qw8.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?geldspiele24.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?goovle.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?heil-fasten.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?immobiliengewinne24.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?incest-.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?keywordmaster.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?one2onemag.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?reisegewinne24.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?rootfood.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?shemale.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?single66.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?slamhost.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?spielepsychatrie.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?superface.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?topgewinn24.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?topspiele24.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?transexual.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?usa-wins.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?vendini.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?webmasterplan.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?wseeker.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?xmaster.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?referrer-script.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://www14\.blogspot.*$ [OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?yahh+oo.*$[OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?tigerdroppings.*$
RewriteRule .* - [F,L]

#Redirect Permanent /index.rdf http://crookedtimber.org/feed/rss/
#Redirect Permanent /index.xml http://crookedtimber.org/feed/
#Redirect Permanent /comments.xml http://crookedtimber.org/comments/feed/

# These rules follow up on Octopress/Hugo and deal with orphaned WP category pages
RewriteRule ^blog/archives/$ /archives/ [L,R=301]
RewriteRule ^blog/archive/$ /archives/ [L,R=301]
RewriteRule ^blog/archives/category/(.+)/$ /categories/$1 [L,R=301]
RewriteRule ^blog/archives/category/(.+)/atom.xml$ /categories/$1/index.xml [L,R=301]
#RewriteRule ^blog/categories/([^/]+)/page/.*$ /blog/categories/$1 [L,R=301]
#RewriteRule ^blog/archives/([^/]+)/$ /blog/archives/ [L,R=301]
#RewriteRule ^blog/archives/([^/]+)/([^/]+)/$ /blog/archives/ [L,R=301]
#RewriteRule ^blog/archives/([^/]+)/page/([^/]+)/$ /blog/archives/ [L,R=301]
#RewriteRule ^blog/feed$ /atom.xml [L,R=301]
#RewriteRule ^blog/feed/$ /atom.xml [L,R=301]
#RewriteRule ^blog/rss$ /atom.xml [L,R=301]
RewriteRule ^blog/feed/atom/ /blog/index.xml [L,R=301]
RewriteRule ^blog/categories/([^/]+)/atom.xml*$ /categories/$1/index.xml [L,R=301]
Redirect Permanent /atom.xml http://kieranhealy.org/blog/index.xml
Redirect Permanent /blog.xml http://kieranhealy.org/blog/index.xml
Redirect Permanent /blog/feed/ http://kieranhealy.org/blog/index.xml
Redirect Permanent /blog/feed http://kieranhealy.org/blog/index.xml
Redirect Permanent /feed http://kieranhealy.org/blog/index.xml
Redirect Permanent /feed/ http://kieranhealy.org/blog/index.xml
Redirect Permanent /blog/index.rdf http://kieranhealy.org/blog/index.xml

# Moved items to their own directories
RewriteRule ^publications.html /publications [L,R=301]
RewriteRule ^teaching.html /teaching [L,R=301]
RewriteRule ^resources.html /resources [L,R=301]
RewriteRule ^emacs-starter-kit.html /resources/emacs-starter-kit.html [L,R=301]


Redirect Permanent /blog/archives/category http://kieranhealy.org/categories
Redirect Permanent /blog/categories http://kieranhealy.org/categories
Redirect Permanent /blog/archives/2017/06/27/a-lttle-more-nuance https://www.kieranhealy.org/blog/archives/2017/06/27/a-little-more-nuance

#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http://kieranhealy.org/.*$ [NC]
#RewriteCond %{HTTP_REFERER} !^https://www.kieranhealy.org/.*$ [NC]
#RewriteCond %{HTTP_REFERER} !^http://crookedtimber.org/.*$ [NC]
#RewriteCond %{HTTP_REFERER} !^http://www.crookedtimber.org/.*$ [NC]
#RewriteRule .*\.(gif|jpg|png)$ - [N,F,L]
