{{ template "partials/header.html" . }}
<body lang="en" itemscope itemtype="http://schema.org/Article">

  <div id="topbar">
    <div class="wrapper">
      <header>
        {{ template "partials/sidebar.html" . }}

        {{ $baseurl := .Site.BaseURL }}
      </header>
    </div>
  </div>

  <div class="wrapper">
    <div class="units-row">
      <div class="unit-60">  
        {{ range .Site.Pages.GroupByDate "2006" }}
         {{ if ge .Key 2002 }}
         <h3 class="center">{{ .Key }}</h3>        
         <p>
           {{ range .Pages }} &middot; {{if not (isset .Params "grlog") }}<time><em>{{ .Date.Format "January 2" }}</em></time>, {{ end }}<a href="{{ .Permalink }}">{{ .Title | safeHTML }}</a> {{ end }} </p>
         {{ end }}
        {{ end }}

        {{ template "partials/allcats.html"}}    

      </div>
      <div class="unit-30">
        <p><em>Links to all the blog entires on this site since 2002.</em></p>
      </div>
    </div>
    
    <hr class="separator">

    {{ partial "whatisthis.html" . }}

    {{ partial "footer.html" . }}

