{{ template "partials/header.html" . }}
<body lang="en" itemscope itemtype="http://schema.org/Article">

  <div id="topbar">
    <div class="wrapper">
      <header>
        {{ template "partials/sidebar.html" . }}

        {{ $baseurl := .Site.BaseURL }}
      </header>
    </div>
  </div>

  <div class="wrapper">
    <div class="units-row">
      <div class="unit-centered unit-80">  

        <h2 class="post-title">All Posts, by Date</h2>
        

          {{ range .Site.Pages.GroupByDate "2006" }}
          {{ if ge .Key 2000 }}
        <h3 class="center">{{ .Key }}</h3>
        <p> 
              {{ range .Pages }}
              / <a href="{{ .RelPermalink }}">{{ .Title }}</a> 
              {{ end }}  
              {{ end }}
              {{ end }}
          </p>  

        {{ template "partials/allcats.html"}}    

        </div>
      </div>
      <hr class="separator">

      {{ partial "whatisthis.html" . }}

      {{ partial "footer.html" . }}

    </div>

