{{ template "partials/header.html" . }}
<body lang="en" class="theme-base-0f" itemscope itemtype="http://schema.org/Article">

  {{ template "partials/sidebar.html" . }}

  {{ $baseurl := .Site.BaseURL }}

  <div class="content container">
    
    <h2 class="post-title">All Posts, by Date</h2>
 
<ul class="post">
  {{ range .Site.Pages.GroupByDate "2006" }}
    {{ if ge .Key 2000 }}
  <li><h1 class="center">{{ .Key }}</h1> 
    <div class="architems">
      {{ range .Pages }}
    <div class="architem lead"> &middot; <a href="{{ .RelPermalink }}">{{ .Title }}</a> 
    </div>
    {{ end }}  
   {{ end }}
  {{ end }}
  </li>  
</ul>


  
{{ template "partials/allcats.html"}}    
{{ template "partials/footer.html" . }}

</div>

