<style>
  div.gallery {
     display: flex;
     flex-wrap: wrap;
  }
        div.gallery a {
            flex-grow: 1;
            object-fit: cover;
            margin: 2px;
            display: flex;
        }

        div.gallery a img {            
            height: 200px;
            object-fit: cover;
            flex-grow: 1;
        }

    </style>

    <div class="gallery">
        {{ $pattern := .Get "src" }}
        {{ $images := .Page.Resources.Match $pattern }}
        
        {{ range $images }}
        {{- $thumbext := "_thumb" }}
        {{- $isthumb := .Name | findRE ($thumbext | printf "%s\\.") }}
        {{- $isimg := lower .Name | findRE "\\.(gif|jpg|jpeg|tiff|png|bmp)" }}
        {{- if and $isimg (not $isthumb) }}
        {{- $thumbName := .Name | replaceRE "(\\.)" ($thumbext | printf "%s.") }}
        {{- $thumbResource := $.Page.Resources.GetMatch $thumbName }}
            <a data-fancybox="gallery" href="{{ .RelPermalink }}">
                <img src="{{ $thumbResource.RelPermalink }}">  <br/>            
            </a>
        {{- end }}
        {{ end }}
    </div>