{{- define "title" }}{{ T "archive" }} - {{ .Site.Title }}{{ end -}}

{{- define "content" }}

{{ $baseurl := .Site.BaseURL }}

<div id="content" class="posts">

    <!-- post-header -->
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
    </header>
    
<p>I am Professor of <a href="https://sociology.duke.edu">Sociology</a>
at <a href="https://www.duke.edu">Duke University</a>. Much of my
research has been about the social organization of exchange in <a
href="https://kieranhealy.org/publications/lbg/">human blood and
organs</a>, cultural goods, software, and ideas. My current work focuses
on the moral order of market society, the effect of models and
measurement on social classification, and the <a
href="https://www.kieranhealy.org/publications/tos">link between those
two topics</a>. I also work on techniques and methods for <a
href="https://kieranhealy.org/publications/dataviz">data
visualization</a>, and some <a
href="https://kieranhealy.org/publications/fuck-nuance/">problems in
social theory</a>.</p>

<figure><img src="https://kieranhealy.org/files/misc/kjh-about.jpg" title="Kieran Healy" ></figure>

<p>Most of my <a href="/publications">publications and working
papers</a> are available on this site, along with information about <a
href="/teaching">classes</a> I teach, various <a href="/resources">code,
data, and related resources</a>, and a quite lot of <a
href="/blog">occasional writing</a>. My <a href="/vita.pdf">Curriculum
Vitae</a> has more detail, if you need it.</p>

<center>
<div class="logo-wrapper">
<a href="mailto:kjhealy@gmail.com" class="iconfont icon-email" title="email"></a>
<a href="https://mastodon.social/@kjhealy" class="logo" title="Mastodon"><img class="icon-svg" src = "/icons/mastodon.svg"></a>
<a href="https://github.com/kjhealy" class="logo" title="GitHub"><img class="icon-svg" src = "/icons/github.svg"></a>
<a href="https://scholar.google.com/citations?user=YWEuPuIAAAAJ&hl=en" class="logo" title="Google Scholar"><img class="icon-svg" src = "/icons/googlescholar.svg"></a>
<a href="https://kieranhealy.org/index.xml" type="application/rss+xml" class="iconfont icon-rss" title="rss"></a>
</div>
</center>

</div>
{{ end }}