{{- define "title" }}{{ T "prints" }} - {{ .Site.Title }}{{ end -}}

{{- define "content" }}

{{ $baseurl := .Site.BaseURL }}

  <div id="content" class="posts">
	<header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
    </header>
    
{{ range (where .Data.Pages "Type" "print").GroupByDate "2006" "desc" }}


{{ range .Pages.ByDate.Reverse }}
    <h3>{{ .Params.title | safeHTML }}</h3>
      <a href="{{ .Params.storelink }}">Society6 page</a>

      {{ .Content }}
      
{{ end }}

{{- end}}

</div>
{{- end }}
