{{- define "title" }}{{ T "archive" }} - {{ .Site.Title }}{{ end -}}

{{- define "content" }}

{{ $baseurl := .Site.BaseURL }}
 <article class="post">

<div class="content-wrapper">
  <div id="content" class="content">

    <!-- post-header -->
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
    </header>
    
 
<div>
  <h4><a href="https://kieranhealy.org/vita.pdf"><em>Full Curriculum Vitae in PDF format</em></a></h4>
</div>  

<h2>Working Papers</h2>

{{ range (where .Data.Pages "Type" "unpublished").GroupByDate "2006" "desc" }}

<!-- <h3>{{ .Key }}</h3> -->

{{ range .Pages.ByDate.Reverse }}
<p>{{ .Params.citation | safeHTML }} 
  <a href="{{ .Permalink }}">/ Abstract</a> 
  {{ if isset .Params "file" }}
  <a href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}">/ PDF</a>
  {{ end }}
</p>
{{ end }}

{{- end}}


<h2>Retired Papers</h2>

{{ range (where .Data.Pages "Type" "retired").GroupByDate "2006" "desc" }}

<!-- <h3>{{ .Key }}</h3> -->

{{ range .Pages.ByDate.Reverse }}
<p>{{ .Params.citation | safeHTML }} 
  <a href="{{ .Permalink }}">/ Abstract</a> 
  {{ if isset .Params "file" }}
  <a href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}">/ PDF</a>
  {{ end }}
</p>
{{ end }}

{{- end}}



<h2>Books</h2>

{{ range (where .Data.Pages "Params.kind" "book").GroupByPublishDate "2006" "desc" }}

<!-- <h3>{{ .Key }}</h3> -->

{{ range .Pages.ByPublishDate.Reverse }}
<p>{{ .Params.citation | safeHTML }} 
  <a href="{{ .Permalink }}">/ Overview</a> 
  {{ if isset .Params "file" }}
  <a href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}">/ PDF</a>
  {{ end }}
</p>
{{ end }}

{{- end}}



<h2>Articles and Book Chapters</h2>

{{ range (where (where .Data.Pages "Type" "published") ".Params.kind" "!=" "book").GroupByPublishDate "2006" "desc" }}

<!-- <h3>{{ .Key }}</h3> -->
{{ range .Pages.ByPublishDate.Reverse }}
{{ if ne .Params.kind "book" }}
<p>{{ .Params.citation | safeHTML }} 
  <a href="{{ .Permalink }}">/ Abstract</a> 
  {{ if isset .Params "file" }}
  <a href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}">/ PDF</a>
  {{ end }}
</p>
{{ end }}
{{ end }}

{{- end}}

  </div>
</div>
</article>
{{- end }}

