{{- define "title" }}{{ T "archive" }} - {{ .Site.Title }}{{ end -}}

{{- define "content" }}

{{ $baseurl := .Site.BaseURL }}

<div class="posts">
      <h1 class="post-title">{{ .Title }}</h1>

<p>Some of the graduate and undergraduate courses I regularly teach.</p>
    
{{ range .Pages.ByDate.Reverse }}
    <h3>{{ .Params.title | safeHTML }} &nbsp;
     {{ if isset .Params "syllabus" }} &rarr; <a href="{{ .Params.syllabus }}">Syllabus</a> {{ end }}
     {{ if isset .Params "website" }} &rarr; <a href="{{ .Params.website }}">Website</a> {{ end }}</h3>
     <p>{{ .Content }}</p>
{{- end}}

<br />    
</div>

    
{{ end }}



 
