{{ partial "header.html" . }}
<body lang="en" itemscope itemtype="http://schema.org/Article">
  <div id="topbar">
    <div class="wrapper">
      <header>
        
        {{ template "partials/sidebar.html" . }}

        {{ $baseurl := .Site.BaseURL }}
      </header>
    </div>
  </div>

  <div class="wrapper">

    <h2>Classes and Seminars</h2>
    <div class="units-row">
      <div class="unit-70">
        {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="units-row">
          <div class="unit-10">
            <h3>{{ .Key }}</h3>
          </div>
          <div class="unit-90">
            <ul class="fa-ul">
              {{ range .Pages }}
              <li><i class="fa-li fa fa-mortar-board fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i><a href="{{ .Permalink }}"> 
                  <a href="{{ .Permalink }}"><span class="caps">{{ .Title }}</span></a>
                  <p>{{ .Summary }}</p>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="unit-30">
        <p><em>Some of the classes I have offered in recent years, including pointers to upcoming courses and other resources, when they are available. Classes are listed once but are typically taught more frequently than that.</em></p>
      </div>
    </div>
  </div>

</div>

<hr class="separator">

{{ partial "whatisthis.html" . }}

{{ partial "foot.html" . }}
</body>
</html>
